<div style={{view.content.nodeStyle}} class="list-tree__item row {{view.content.expandedClass}}"  data-label="promise-item">
  <div class="cell_type_main cell" style={{view.content.labelStyle}} {{action "toggleExpand" view.content.model}}>
    <div class="list-tree__limited list-tree__limited_helper_large">
      <span title="{{view.content.label}}" data-label="promise-label">
        <span class="cell__arrow"></span>
        {{view.content.label}}
      </span>
    </div>
    <div class="list-tree__right-helper">
      {{#if view.content.hasStack}}
        <div class="send-trace-to-console" {{action "tracePromise" view.content.model}} title="Trace promise in console" data-label="trace-promise-btn">
          Trace
        </div>
      {{/if}}
    </div>
  </div>
  <div class="cell cell_size_medium">
    <div class="pill pill_text_clear" style={{view.content.style}} data-label="promise-state">{{view.content.state}}</div>
  </div>
  <div class="cell cell_size_large" data-label="promise-value">
    {{#if view.content.hasValue}}
        <div class="list-tree__limited  list-tree__limited_helper_very-large" title="{{view.content.settledValue.inspect}}">
          {{#if view.content.isValueInspectable}}
            <span class="cell_clickable" {{action "inspectObject" view.content.settledValue.objectId}} data-label="promise-object-value">{{view.content.settledValue.inspect}}</span>
          {{else}}
            {{view.content.settledValue.inspect}}
          {{/if}}
        </div>
        <div class="list-tree__right-helper">
          {{#if view.content.isError}}
            <div class="send-trace-to-console" {{action "sendValueToConsole" view.content.model}} data-label="send-to-console-btn" title="Send stack trace to the console">
              Stack trace
            </div>
          {{else}}
            {{send-to-console action="sendValueToConsole" param=view.content.model}}
          {{/if}}

        </div>
    {{else}}
    --
    {{/if}}
  </div>
  <div class="cell cell_size_medium cell_value_numeric" data-label="promise-time">{{ms-to-time view.content.timeToSettle}}</div>
</div>
